<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center;">
        <video width="{target_width}" height="{target_height}" controls autoplay muted loop style="border-radius: 6px; margin-bottom: 0.5rem;">
            <source src="data:video/mp4;base64,{video_b64}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div style="font-size: 0.9rem; color: gray;">Driving Video</div>
    </div>
</body>
</html>